/* styles.css */

body {
  background-color: #fff;
  color: #353535;
  background-attachment: fixed;
  background-image: url("images/bg-light.webp");
}

/* Light theme styles */
body.light-theme {
  background-image: url("images/bg-light.webp");
}

body.light-theme .brand-container {
  background-color: #fff;
}
body.light-theme .jihyo {
  color: #fff;
}

body.light-theme .navbar {
  background: #1e6578c9;
}

body.light-theme .banner {
  background-image: url("images/banner-light.webp");
}

body.light-theme .main {
  background-color: #fafafa;
  border: solid 1px #ebebeb;
}

body.light-theme ul.inline-list > li {
  border-top: solid 1px #ebebeb;
}

/* Dark theme styles */
body.dark-theme {
  background-image: url("images/bg-dark.webp");
}
body.dark-theme .brand-container {
  background-color: rgb(27, 29, 30);
  color: #fff;
}
body.dark-theme .jihyo {
  color: rgb(27, 29, 30);
}

body.dark-theme .banner {
  background-image: url("images/banner-dark.webp");
}
body.dark-theme .main {
  background-color: rgb(27, 29, 30);
  border: solid 1px rgb(54, 58, 60);
  color: rgb(199, 194, 186);
}

body.dark-theme .navbar {
  background: #301916c9;
}

body.dark-theme ul.inline-list > li {
  border-top: solid 1px rgb(54, 58, 60);
}

.jihyo {
  background-color: #fa8959;
  color: #fff;
  padding: 0 0.2em;
}

.brand-container {
  background-color: #fff;
  padding: 2em 0;
  color: #5e3b29;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.brand {
  font-size: 1.5em;
  color: #fa8959;
  display: inline;
}

.tagline {
  margin-left: 1em;
  font-weight: 100;
}

a {
  color: #5875ac;
}

a:hover {
  text-decoration: underline;
  color: #fa8959;
}

.navbar a:hover {
  text-decoration: underline;
  color: #fa8959;
}

.navbar {
  background: #1e6578c9;
  backdrop-filter: blur(10px);
  padding-left: 1em;
  color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.navbar a {
  color: #fff;
}

.navbar-toggler-icon {
  /* Set the color of the hamburger menu icon */
  color: #fff;
  filter: brightness(0) invert(1);
}

/* align theme toggle right */
.align-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-text {
  margin-left: 5px;
  color: #fff;
}

.menu-text:hover {
  color: #fa8959;
}
.banner {
  background-image: url("images/banner-dark.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 5px solid #5875ac;
  height: 100vh;
  max-height: 1440px;
  min-height: 640px;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2) inset;
}

.main {
  background-color: #fafafa;
  border: solid 1px #ebebeb;
  min-height: 100vh;
  padding: 2em;
}

.main h2 {
  color: #fa8959;
  margin-top: 1em;
}

.video-container {
  max-width: 100%;
}

.timeline-title {
  font-size: 1.3em;
}

.main ul {
  list-style-type: none;
}

ul.inline-list > li {
  margin: 20px 0 10px 0;
  border-top: solid 1px #ebebeb;
  padding-top: 20px;
}

.date {
  color: #777;
}

@media screen and (min-width: 768px) {
  /* Apply display: inline only to nested <ul> and <li> */
  ul.inline-list {
    list-style: none;
    padding: 0;
  }

  ul.inline-list > li {
    display: block;
  }

  ul.inline-list ul {
    display: inline;
    padding: 0;
  }

  ul.inline-list ul li {
    display: inline;
    margin-right: 10px;
  }

  ul.inline-list li p {
    margin: 0;
  }
}
